body {
    margin: 0;
    font-family:Arial, sans-serif;
    line-height: 1.6;
    background: #f5f5f5;
    color: #333;
}

.hero {
    background: #111;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
}

.btn {
    display: inline-block;
    background: orange;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
} 

section {
    padding: 60px 20px;
    text-align: center;
} 

section h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

 .box {
    width: 250px;
    height: 250px;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.box:hover  {
    transform: scale(1.05);
    cursor: pointer;
}

.box:nth-child(1) { background: #ff7e5f;}
.box:nth-child(2) { background: #6a82fb;}
.box:nth-child(3) { background: #43cea2;}
